html,body{
    margin: 0 auto;
    padding: 0;    
}
.container{
    display: flex;
    flex-flow: column;
}

.container > header, main, footer{
    flex: 1 1 auto;
    border: 1px solid black;
    margin: 1px;
    text-align: center;
}