html,body{
    min-height: 100%;
    height: 100%;
} 

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
header, main, footer {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  main {
    flex: 1 0 auto;
      height: 100%;
  }
footer{
    bottom: 0;
}

li:active,li:hover{
    border: 2px inset yellow;
    filter: brightness(1);
}
    